/* CSS di prova*/
*{
  /* font-size: 26px; */
  box-sizing: border-box;
  margin:0;
  padding: 0;

}


/* UTILITIES */
.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-rowYCenter{
  display: flex;
  align-items: center;
}

.flex-justify-space-between{
  justify-content: space-between;
}

/* /UTILITIES */

.bg-sito{
  background-color: rgb(255,245,226);
}

.container-sito{
  width: 80%;
  margin: 0 auto;
}

.content{
  padding: 15px 50px;
  /* height: 600px; */
}



header{
  background-color: rgb(253,187,64);
  height: 140px;
  font-weight: bold;
  font-size: 30px;
}

header .content{
  height: 100%;
}

header img{
  width: 230px;
  transform: translate(+50%,0);
}

main .content{
  height: calc(100vh - 240px); //Sottrai altezza header e footer
  font-size: 18px;
  background-color: white;
}

#burger-name{
  font-size: 22px;
  color: rgb(117,117,117);
  border: 0px;
  margin-top: 50px;
  margin-bottom: 15px;
}

main .content .checkboxes-title{
  font-size: 18px;
}

main .content .checkboxes-container [class*='group'] {
  width: 50%;
}

main .content .checkboxes-container [class*='group'] label {
  font-size: 16px;
}

main .content .checkboxes-container{
  margin-top: 15px;
  margin-bottom: 30px;
}


/* Checkboxes custom */
/*
-immagine prima
-testo "add" dopo
-sfondo colorato
-spunta personalizzata
-label testo
-cliccabile ovunque (immagine, testo e casella)
*/

.checkbox-custom1 img{
  height: 32px;
  vertical-align: middle;
  padding-right: 5px;
}

.checkbox-custom1 label{
  height: 32px;
  vertical-align: middle;
}

.checkbox-custom1{
  line-height: 32px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.checkbox-custom1 span::before{
  display: inline-block;
  font-family: fontAwesome;
  content: '\f00c';
  color: rgba(0,0,0,0);
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: rgb(231,51,89);
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  margin-right: 5px;

}

.checkbox-custom1 [type="checkbox"]{
  visibility: hidden;
  padding-right: 5px;
}


.checkbox-custom1 [type="checkbox"]:checked + label span::before{
  color: rgba(255,255,255,1);  /* Rendi visibile icona */
  /* content: 'X'; */
  color: black;
  line-height: 16px;
}


.checkbox-custom1 .desc{
  display: inline-block;
  min-width: 60px;
}



/* /Checkboxes custom */
main .content .discount-container{
  margin-bottom: 30px;
}

main .content .discount-container label{
  font-size: 12px;
}

#discount-code {
  background-color: rgb(255,245,226);
  color: rgb(117,117,117);
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 10px;
}

main .content .button-container{
  text-align: center;
}

#btnCalculate{
  background-color: rgb(253,187,64);
  color: black;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  padding: 20px;
}

footer{
  height: 100px;
  background-color: rgb(255,51,89);
  color: white;
  font-size: 22px;
  font-weight: bold;

}

footer .content{
  height: 100%;
}

#finalPrice{
  font-weight: 26px;
}
